.profile-page {
  width: 100%;
  min-height: 100dvh;

  padding: 20px 14px 95px;

  background: #f5f7f5;
}

/* HEADER */

.profile-header {
  margin-bottom: 17px;

  text-align: center;
}

.profile-header h1 {
  margin: 0;

  color: #191919;

  font-size: 21px;
  font-weight: 900;
}

.profile-header p {
  margin: 4px 0 0;

  color: #999;

  font-size: 9px;
}

/* USER CARD */

.profile-user-card {
  position: relative;

  padding: 25px 20px;

  overflow: hidden;

  border-radius: 25px;

  text-align: center;

  color: #fff;

  background:
    radial-gradient(
      circle at 80% 10%,
      rgba(255, 255, 255, 0.16),
      transparent 28%
    ),
    linear-gradient(
      135deg,
      #087b36,
      #16a34a 60%,
      #22c55e
    );

  box-shadow:
    0 12px 28px rgba(22, 163, 74, 0.18);
}

.profile-avatar {
  width: 76px;
  height: 76px;

  margin: 0 auto 12px;

  display: grid;
  place-items: center;

  border: 6px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;

  color: #15803d;

  background: #fff;
}

.profile-user-card h2 {
  margin: 0;

  color: #fff;

  font-size: 20px;
  font-weight: 900;
}

.profile-user-card > p {
  margin: 5px 0 12px;

  color: rgba(255, 255, 255, 0.8);

  font-size: 9px;
}

.profile-user-card > span {
  min-height: 29px;

  padding: 0 11px;

  display: inline-flex;
  align-items: center;

  gap: 5px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.16);

  font-size: 9px;
  font-weight: 800;
}

/* MENU */

.profile-menu {
  margin-top: 15px;

  padding: 5px 14px;

  overflow: hidden;

  border: 1px solid #e9ecea;
  border-radius: 21px;

  background: #fff;

  box-shadow:
    0 5px 20px rgba(0, 0, 0, 0.035);
}

.profile-menu > button {
  width: 100%;
  min-height: 72px;

  padding: 10px 0;

  border: 0;
  border-bottom: 1px solid #eeeeee;

  display: flex;
  align-items: center;

  gap: 11px;

  color: #8d8d8d;

  background: transparent;

  text-align: left;

  cursor: pointer;
}

.profile-menu > button:last-child {
  border-bottom: 0;
}

.profile-menu-icon {
  flex: 0 0 43px;

  width: 43px;
  height: 43px;

  display: grid;
  place-items: center;

  border-radius: 12px;

  color: #15803d;

  background: #eaf9ef;
}

.profile-menu-text {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.profile-menu-text strong {
  color: #222;

  font-size: 11px;
  font-weight: 800;
}

.profile-menu-text span {
  margin-top: 3px;

  color: #999;

  font-size: 8px;
}

/* LOGOUT */

.profile-logout {
  width: 100%;
  height: 52px;

  margin-top: 15px;

  border: 1px solid #ffd8d8;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 7px;

  color: #dc2626;

  background: #fff;

  font-size: 11px;
  font-weight: 850;

  cursor: pointer;
}